{% extends 'navbar.html.twig' %}

{% block title %}Post a Blog{% endblock %}
{% block sub_content %}
<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            {% if success is defined %}
            <div class="alert alert-success alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>	
                    <strong>{{ success }}</strong>
            </div>
            {% endif %}
            <div class="content-body">
                <!-- Grouped multiple cards for statistics starts here -->
                <div class="row grouped-multiple-statistics-card">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                    <h4 class="card-title" id="hidden-label-form-center">Add Blog Post</h4>
                                    <a class="heading-elements-toggle"><i class="fas fa-redo-alt"></i></a> 
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">
                                        <form action="{{path('create_blog')}}" method="post" class="form-horizontal">
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="fas fa-tasks"></i> Blog Info</h4>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control">Blog Title: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="title" placeholder="Enter Blog Title" id="title" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control">Category : </label>
                                                    <div class="col-md-9">
                                                        <select name="category" id="category" class="form-control" required>
                                                            <option value="Technology">Technology</option>
                                                            <option value="Social Media">Social Media</option>
                                                            <option value="Business">Business</option>
                                                            <option value="Entertainment">Entertainment</option>
                                                            <option value="Design">Design</option>
                                                            <option value="Life Style">Life Style</option>
                                                            <option value="Apps">Apps</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control">Blog Content: </label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" name="content" placeholder="Enter Blog Content" id="content" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                <label class="col-md-3 label-control">Publish: </label>
                                                    <div class="col-md-9">
                                                        <input type="checkbox" name="status" id="status">
                                                    </div>
                                                </div>
                                                
                                            <div class="form-actions center">
                                                <input type="submit" class="btn btn-primary" id="change" value="Save">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Grouped multiple cards for statistics ends here -->  
                
            </div>
        </div>
    </div>
    <!-- END: Content-->

  {% endblock %}
